Repository Code-A2Z/code-a2z, pull requests merged in 2024-02, with the labels that each got.

#71 Recipe Finder Added
  Vanilla-JS-Projects/Advanced/Recipe-Finder/README.md
  Vanilla-JS-Projects/Advanced/Recipe-Finder/Recipe-Finder.webp
  Vanilla-JS-Projects/Advanced/Recipe-Finder/index.html
  Vanilla-JS-Projects/Advanced/Recipe-Finder/script.js
  Vanilla-JS-Projects/Advanced/Recipe-Finder/styles.css
  Vanilla-JS-Projects/README.md
Labels: JWOC, Hard, Assigned 💻, Vanilla-JS 😊

#88 Sudoku Solver using Vanilla JS
  Vanilla-JS-Projects/Intermediate/Sudoku-Solver/Readme.md
  Vanilla-JS-Projects/Intermediate/Sudoku-Solver/Sudoku-Solver.webp
  Vanilla-JS-Projects/Intermediate/Sudoku-Solver/index.html
  Vanilla-JS-Projects/Intermediate/Sudoku-Solver/script.js
  Vanilla-JS-Projects/Intermediate/Sudoku-Solver/style.css
  Vanilla-JS-Projects/README.md
Labels: JWOC, Requested Changes ⚙️, Vanilla-JS 😊

#91 Password Generator Using React.js
  React-JS-Projects/Basic/Password-Generator/.eslintrc.cjs
  React-JS-Projects/Basic/Password-Generator/.gitignore
  React-JS-Projects/Basic/Password-Generator/Password-Generator.webp
  React-JS-Projects/Basic/Password-Generator/README.md
  React-JS-Projects/Basic/Password-Generator/index.html
  React-JS-Projects/Basic/Password-Generator/package-lock.json
  React-JS-Projects/Basic/Password-Generator/package.json
  React-JS-Projects/Basic/Password-Generator/postcss.config.js
  React-JS-Projects/Basic/Password-Generator/public/vite.svg
  React-JS-Projects/Basic/Password-Generator/src/App.jsx
  React-JS-Projects/Basic/Password-Generator/src/assets/react.svg
  React-JS-Projects/Basic/Password-Generator/src/index.css
  React-JS-Projects/Basic/Password-Generator/src/main.jsx
  React-JS-Projects/Basic/Password-Generator/tailwind.config.js
  React-JS-Projects/Basic/Password-Generator/vite.config.js
  React-JS-Projects/README.md
Labels: JWOC, Requested Changes ⚙️, React-JS 😍

#103 Markdown Previewer using Vue JS
  Vue-JS-Projects/Basic/Markdown-Previewer/Markdown-Previewer.webp
  Vue-JS-Projects/Basic/Markdown-Previewer/Readme.md
  Vue-JS-Projects/Basic/Markdown-Previewer/index.html
  Vue-JS-Projects/Basic/Markdown-Previewer/styles.css
Labels: bug 🐛, Requested Changes ⚙️, Vue-JS 🙂

#105 Created Starbucks-Landing-page
  Front-end-Projects/Basic/Starbucks-Landing-page/README.md
  Front-end-Projects/Basic/Starbucks-Landing-page/Starbucks-Landing-page.webp
  Front-end-Projects/Basic/Starbucks-Landing-page/images/Starbucks.png
  Front-end-Projects/Basic/Starbucks-Landing-page/images/facebook.png
  Front-end-Projects/Basic/Starbucks-Landing-page/images/image1.webp
  Front-end-Projects/Basic/Starbucks-Landing-page/images/image2.jpg
  Front-end-Projects/Basic/Starbucks-Landing-page/images/image3.webp
  Front-end-Projects/Basic/Starbucks-Landing-page/images/image4.webp
  Front-end-Projects/Basic/Starbucks-Landing-page/images/image5.webp
  Front-end-Projects/Basic/Starbucks-Landing-page/images/instagram.webp
  Front-end-Projects/Basic/Starbucks-Landing-page/images/location.jpg
  Front-end-Projects/Basic/Starbucks-Landing-page/images/pin.png
  Front-end-Projects/Basic/Starbucks-Landing-page/images/spotify.png
  Front-end-Projects/Basic/Starbucks-Landing-page/images/stbpist.jpg
  Front-end-Projects/Basic/Starbucks-Landing-page/images/twitter.png
  Front-end-Projects/Basic/Starbucks-Landing-page/images/youtube.webp
  Front-end-Projects/Basic/Starbucks-Landing-page/index.html
  Front-end-Projects/Basic/Starbucks-Landing-page/style.css
Labels: bug 🐛, Requested Changes ⚙️

#106 Joke Telling Website using Vanilla JS #24
  Vanilla-JS-Projects/Basic/Joke-Telling-Website/Joke-Telling-Website.webp
  Vanilla-JS-Projects/Basic/Joke-Telling-Website/README.md
  Vanilla-JS-Projects/Basic/Joke-Telling-Website/index.html
  Vanilla-JS-Projects/Basic/Joke-Telling-Website/script.js
  Vanilla-JS-Projects/Basic/Joke-Telling-Website/style.css
  Vanilla-JS-Projects/README.md
Labels: bug 🐛, Requested Changes ⚙️

#115 Interval Timer using Vanilla JS #107
  Vanilla-JS-Projects/Intermediate/Interval-Timer/Interval-Timer.webp
  Vanilla-JS-Projects/Intermediate/Interval-Timer/README.md
  Vanilla-JS-Projects/Intermediate/Interval-Timer/css/style.min.css
  Vanilla-JS-Projects/Intermediate/Interval-Timer/index.html
  Vanilla-JS-Projects/Intermediate/Interval-Timer/js/main.js
  Vanilla-JS-Projects/Intermediate/Interval-Timer/js/main.min.js
  Vanilla-JS-Projects/Intermediate/Interval-Timer/scss/_app.scss
  Vanilla-JS-Projects/Intermediate/Interval-Timer/scss/_buttons.scss
  Vanilla-JS-Projects/Intermediate/Interval-Timer/scss/_header.scss
  Vanilla-JS-Projects/Intermediate/Interval-Timer/scss/_media.scss
  Vanilla-JS-Projects/Intermediate/Interval-Timer/scss/_ready.scss
  Vanilla-JS-Projects/Intermediate/Interval-Timer/scss/_reset.scss
  Vanilla-JS-Projects/Intermediate/Interval-Timer/scss/_vars.scss
  Vanilla-JS-Projects/Intermediate/Interval-Timer/scss/style.scss
  Vanilla-JS-Projects/Intermediate/Interval-Timer/sounds/finish.mp3
  Vanilla-JS-Projects/Intermediate/Interval-Timer/sounds/pick.mp3
  Vanilla-JS-Projects/Intermediate/Interval-Timer/sounds/start.mp3
  Vanilla-JS-Projects/README.md
Labels: bug 🐛, Requested Changes ⚙️

#114 Add yellowish neon-style scrollbar
  src/components/Sidebar/SideBar.jsx
  src/index.css
Labels: enhancement 🧑‍💻, Requested Changes ⚙️
